:root{
  --app-bg-dark: #223342;
  --app-white: #ffffff;
  --app-red: #ff3c57;
  --app-green: #33ab4e;
  --app-blue: #3c57ff;
  --app-purple: #833cff;
  --app-orange: #ff833c;
}

body{
  background-color: var(--app-bg-dark);
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
}
.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

main {
  padding: 0px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

header {
  margin-top: -2vh;
  width: 100%;
  background: #33ab4e;
}

#header-container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  display: flex;
  justify-content: center;
  width: 40vh;
}

li {
  padding-left: 2rem;
  font-size: 1rem;
  margin-top: 1.25vh;
}

#hero-banner div{
  width: 100%;
  display: flex;
}

#hero-banner img{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#about{
  padding-top: 3vh;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#about p {
  margin-bottom: 2vh;
}
#sign-up-btn {
  margin-top: 2vh;
  background:#3c607f;
  color: white;
  border-radius: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  height: 10%;
  width: 12%;
}

#location {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8vh;
}

#location-title {
  margin-bottom: 0vh;
}

#check-location-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

#check-location-btn {
  background:#3c607f;
  color: white;
  border-radius: 2vh;
  padding: 1vh;
}

/*MapStyles*/
#map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 90vh;
}

#map{
  border-radius: 1vh;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

#service{
  display: flex;
}

#service-response {
  margin-left: 2vh;
}

/* FORM */
#contact{
  margin: auto;
  margin-top: 10vh;
  width: 80%;
}

article {
  width: 60%;
  display: flex;
  margin: 20px auto;
}

article p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
}

.form-wrapper {
  width: 70vh;
  display: flex;
  margin: 40px auto;
}

.form-input {
  display: flex;
  padding: 10px 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80vh;
}

article h3 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
}

input[type="text"], input[type='email'], textarea {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  padding: 12px;
  width: 100%;
  transition: all .5s ease-in-out;
  border-radius: 6px;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 0.2);
}

.submit-button {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 5vh;
}

#send{
  background:#3c607f;
  color: white;
  border-radius: 2vh;
  padding: 1vh;

}

